.footer{
  background-color: #00acee;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  margin-top: 155px;

}
h3{
  text-align: center;
}
.textarea{
  width: 400px;
}
